*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: garamond;
}
/*INDEX.HTML*/
.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100vh;
    color: #faeded;
    background-image: linear-gradient(#ca8472, #6b482b);
}
.home-titles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    gap: 2rem;
    padding: 15px;
    width: 70%;
    letter-spacing: 1px;
}
.home-titles h1{
    font-size: 60px;
}
.home-titles h2{
    font-size: 40px;
}
.home-description{
    padding: 20px;
    margin-bottom:  40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-description img{
    border-radius: 8px;
    margin-bottom: 10px;
}
.home-description p{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
}
.home-btns{
    display: flex;
    justify-content: space-between;
    padding: 25px 40px;
    width: 50%;
}
.btn-login, .btn-register{
    padding: 15px 30px;
    border-radius: 10px;
    border-style: none;
    background-color: #D9D9D9;
    cursor: pointer;
}
.btn-login:hover, .btn-register:hover{
    background-color: #BFBFBF;
    transition: 0.5s;
}   
.btn-login a, .btn-register a{
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 1px;
    color: black;
    text-decoration: none;
}

/*LOGIN.HTML  and Registration.html*/
.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 80%;
    margin: auto;
    padding: 120px;
}
.login-box, .reg-login-box{
    background-color:#AB4228;
    padding: 74px 40px;
    color: white;
    width: 50%;
}
.log-h2, .reg-h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
}
.input-grp, .reg-input-grp{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.log-space, .reg-log-space{
    font-size: 20px;
    margin-bottom: 10px;
}
.input-field, .reg-input-field{
    border-radius: 15px;
    border: 1px solid #999;
    margin-bottom: 20px;
    padding: 8px 0;
}
.submit-btn, .reg-submit-btn{
    padding: 10px 30px;
    cursor: pointer;
    color: white;
    background-color: #4E1F13;
    border-style: none;
    font-size: 18px;
    border-radius: 30px;
    width: fit-content;
    margin: auto;
}
.log-welcome-image, .reg-welcome-image{
    width: 50%;
}
.log-welcome-image img, .reg-welcome-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.login-box, .log-welcome-image {
    height: 430px; 
}
.reg-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 90%;
    margin: auto;
    padding: 120px;
}
.reg-login-box, .reg-welcome-image{
    height: 765px;
}


@media (max-width: 767px){
    /*INDEX.HTML*/
    .home{
        padding: 10px;
        height: auto;
    }
    .home-titles{
        width: 90%;
        margin: 15px;
        gap: 1rem;
        padding: 10px;
    }
    .home-titles h1{
        text-align: center;
        font-size: 30px;
    }
    .home-titles h2{
        font-size: 20px;
    }
    .home-description p{
        font-size: 20px;
    }
    .home-description img{
        width: 100%;
        height: auto;
    }
    .home-btns{
        flex-direction: column;
        align-items: center;
        padding: 15px 20px;
        width: 70%;
    }
    .btn-login, .btn-register{
        padding: 10px 25px;
        margin-bottom: 10px;
    }
    .btn-login a, .btn-register a{
        font-size: 18px;
    }

    /*LOGIN.HTML and registration.html*/
    .login-container, .reg-container{
        flex-direction: column;
        width: 100%;
        padding: 60px;
    }
    .login-box, .log-welcome-image, .reg-login-box, .reg-welcome-image{
        width: 100%;
        height: auto;
    }
    .log-welcome-image img, .reg-welcome-image img{
        height: auto;
    }
    
}